In [35]:
import pandas as pd
import sys

In [3]:
crime = pd.read_csv('datasets/atlcrime.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
crime.head()

,Unnamed: 0,crime,number,date,location,beat,neighborhood,npu,lat,long
0,0,LARCENY-NON VEHICLE,103040029,10/31/2010,610 SPRING ST NW,509,Downtown,M,33.77101,-84.38895
1,1,AUTO THEFT,103040061,10/31/2010,850 OAK ST SW,401,West End,T,33.74057,-84.41680
2,2,LARCENY-FROM VEHICLE,103040169,10/31/2010,1344 METROPOLITAN PKWY SW,301,Capitol View Manor,X,33.71803,-84.40774
3,3,AUTO THEFT,103040174,10/31/2010,1752 PRYOR RD SW,307,Betmar LaVilla,Y,33.70731,-84.39674
4,4,LARCENY-NON VEHICLE,103040301,10/31/2010,JOHN WESLEY DOBBS AVE NE / CORLEY ST NE,604,Old Fourth Ward,M,33.75947,-84.36626

In [7]:
crime.rename(columns={crime.columns[0]:"counter"}, inplace=True)

In [19]:
crime

,counter,crime,number,date,location,beat,neighborhood,npu,lat,long
0,0,LARCENY-NON VEHICLE,103040029,10/31/2010,610 SPRING ST NW,509,Downtown,M,33.77101,-84.38895
1,1,AUTO THEFT,103040061,10/31/2010,850 OAK ST SW,401,West End,T,33.74057,-84.41680
2,2,LARCENY-FROM VEHICLE,103040169,10/31/2010,1344 METROPOLITAN PKWY SW,301,Capitol View Manor,X,33.71803,-84.40774
3,3,AUTO THEFT,103040174,10/31/2010,1752 PRYOR RD SW,307,Betmar LaVilla,Y,33.70731,-84.39674
4,4,LARCENY-NON VEHICLE,103040301,10/31/2010,JOHN WESLEY DOBBS AVE NE / CORLEY ST NE,604,Old Fourth Ward,M,33.75947,-84.36626
...,...,...,...,...,...,...,...,...,...,...
270683,270683,BURGLARY-RESIDENCE,92442142,09/01/2009,1226 PORTLAND AVE SE,612,East Atlanta,W,33.73927,-84.34741
270684,270684,LARCENY-FROM VEHICLE,92442164,09/01/2009,317 PICKFAIR WAY SW,307,Lakewood Heights,Y,33.70436,-84.40013
270685,270685,LARCENY-NON VEHICLE,92448045,09/01/2009,6234 SPINE RD @ATRIUM,50,NaN,NaN,33.64068,-84.44204
270686,270686,LARCENY-NON VEHICLE,92440866,09/01/2009,30 WARREN ST,610,Kirkwood,O,33.75374,-84.32600
270687,270687,HOMICIDE,92440372058,09/01/2009,2860 MARTIN L KING JR DR SW,405,Harland Terrace,I,33.75399,-84.48138

In [14]:
crime.isnull().sum()

counter             0
crime               0
number              0
date                0
location            2
beat                0
neighborhood    11760
npu              2096
lat                 0
long                0
dtype: int64

In [17]:
crime.isnull().sum()/crime.count()

counter         0.000000
crime           0.000000
number          0.000000
date            0.000000
location        0.000007
beat            0.000000
neighborhood    0.045418
npu             0.007804
lat             0.000000
long            0.000000
dtype: float64

In [30]:
crime[crime.isnull().values]

,counter,crime,number,date,location,beat,neighborhood,npu,lat,long
90,90,LARCENY-NON VEHICLE,103048029,10/31/2010,CONCOURSE C @10700 SPINE RD,50,NaN,NaN,33.64063,-84.43256
90,90,LARCENY-NON VEHICLE,103048029,10/31/2010,CONCOURSE C @10700 SPINE RD,50,NaN,NaN,33.64063,-84.43256
149,149,LARCENY-FROM VEHICLE,103030336,10/30/2010,1870 CAMPBELLTON RD SW,408,NaN,R,33.70661,-84.44808
153,153,BURGLARY-RESIDENCE,103030486,10/30/2010,3540 N CAMP CREEK PKWY SW,414,NaN,P,33.67051,-84.50299
160,160,LARCENY-NON VEHICLE,103030700,10/30/2010,105 COLLIER RD NW,207,NaN,E,33.80821,-84.39686
...,...,...,...,...,...,...,...,...,...,...
270551,270551,AUTO THEFT,92450525,09/02/2009,3113 ROBERTA DR NW,201,NaN,C,33.84001,-84.42211
270570,270570,AUTO THEFT,92450869,09/02/2009,3540 N CAMP CREEK PKWY SW,414,NaN,P,33.67051,-84.50299
270635,270635,BURGLARY-NONRES,92440470,09/01/2009,50 ALLEN TEMPLE CT NW,111,NaN,I,33.75352,-84.49060
270685,270685,LARCENY-NON VEHICLE,92448045,09/01/2009,6234 SPINE RD @ATRIUM,50,NaN,NaN,33.64068,-84.44204
270685,270685,LARCENY-NON VEHICLE,92448045,09/01/2009,6234 SPINE RD @ATRIUM,50,NaN,NaN,33.64068,-84.44204

In [34]:
crime.rollup[['neighborhood', 'npu']]

AttributeError: 'DataFrame' object has no attribute 'rollup'

In [36]:
sys.platform

'win32'