In [1]:
import pandas as pd
import sys

In [2]:
crime = pd.read_csv('datasets/atlcrime.csv', low_memory = False)

In [3]:
crime.head()

,Unnamed: 0,crime,number,date,location,beat,neighborhood,npu,lat,long
0,0,LARCENY-NON VEHICLE,103040029,10/31/2010,610 SPRING ST NW,509,Downtown,M,33.77101,-84.38895
1,1,AUTO THEFT,103040061,10/31/2010,850 OAK ST SW,401,West End,T,33.74057,-84.41680
2,2,LARCENY-FROM VEHICLE,103040169,10/31/2010,1344 METROPOLITAN PKWY SW,301,Capitol View Manor,X,33.71803,-84.40774
3,3,AUTO THEFT,103040174,10/31/2010,1752 PRYOR RD SW,307,Betmar LaVilla,Y,33.70731,-84.39674
4,4,LARCENY-NON VEHICLE,103040301,10/31/2010,JOHN WESLEY DOBBS AVE NE / CORLEY ST NE,604,Old Fourth Ward,M,33.75947,-84.36626

In [4]:
crime.drop(['number','Unnamed: 0'],inplace=True, axis=1)

In [5]:
crime['date'] = pd.to_datetime(crime['date'], format='%m/%d/%Y')

In [6]:
crime_no_neighborhood = crime[crime.isnull().values]

In [7]:
crime = crime.dropna()

In [8]:
crime.dtypes

crime                   object
date            datetime64[ns]
location                object
beat                    object
neighborhood            object
npu                     object
lat                    float64
long                   float64
dtype: object

In [9]:
crime.isnull().sum()

crime           0
date            0
location        0
beat            0
neighborhood    0
npu             0
lat             0
long            0
dtype: int64

In [10]:
crime.isnull().sum()/crime.count()

crime           0.0
date            0.0
location        0.0
beat            0.0
neighborhood    0.0
npu             0.0
lat             0.0
long            0.0
dtype: float64

In [12]:
crime_no_neighborhood.shape

(13858, 8)

In [17]:
import sqlalchemy
connection_url = sqlalchemy.engine.URL.create(
    "mssql+pyodbc",
    username='sa',
    password='Strong password',
    host='localhost',
    database="CrimeTimeDW",
    query={
        "driver": "ODBC Driver 17 for SQL Server",
        # "authentication": "ActiveDirectoryIntegrated",
    }
)
engine = sqlalchemy.create_engine(connection_url)

In [ ]:
crime.to_sql('crime', con=engine, if_exists='replace', method='multi')